<template>
    <div style='margin-top:5%;'>
      <PackChart :tweetData=loadData />
    </div>
</template>
<script>

import * as d3 from 'd3';
import PackChart from '../components/PackChart.vue';

export default {
  name: 'Charts',

  components: {
    PackChart,
  },

  data() {
    return {
      loadData: [],
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const data = await d3.json('./tweets.json');
      this.loadData = data;
    },
  },
};
</script>

<style scoped>
.boton {
    margin: 10px;
}
</style>
