<template>
    <div>
      <b-form class="form">
          <h3 class="title">Formulario</h3>
          <b-form-group label-for="name" label="Nombre:">
            <b-form-input id="name" v-model="form.name" type="text" name="name" required></b-form-input>
          </b-form-group>
          <b-form-group label-for="age" label="Edad:">
            <b-form-input id="age" v-model="form.age" type="number" name="age" min="0" required></b-form-input>
          </b-form-group>
          <b-form-group label-for="language" label="Lenguaje de programación favorito:">
              <b-form-select id="language" v-model="form.language" name="language" :options="languages" required></b-form-select>
          </b-form-group>
          <b-form-group>
              <b-button @click="crearUsuario">Añadir</b-button> 
          </b-form-group>
      </b-form>
      <b-table class="table" :items="items" :fields="fields"></b-table>
    </div>
</template>
<script>
  export default {
    name: 'formulario',
    data(){
      return{
        form: {
          name: '',
          age: '',
          language: null
        },
        languages: [{ text: 'Selecciona uno', value: null },'Java', 'Javascript', 'Phyton'],
        items: [],
        fields: [{
            key: 'name',
            label: 'Nombre',
            sortable: true
          },
          {
            key: 'age',
            label: 'Edad',
            sortable: false
          },
          {
            key: 'language',
            label: 'Lenguaje favorito',
            sortable: true,
        }]
      }
    },
    methods: {
      crearUsuario(){
        //evt.preventDefault()
        var element = this.form;
        this.items.push(element);
        this.form = {};
        //alert(JSON.stringify(this.form));
      }
    }
  }

</script>
<style scoped>
    .title{
      margin-bottom: 20px;
    }
    .form{
      padding: 20px;
      width: 50%;
      display: inline-block;
      float:left;
    }
    .table{
      padding: 20px;
      width: 45%;
      margin-right: 20px;
      margin-top: 10px;
      float:left;
    }
    input,select {
      margin-left: 10px;
    }

</style>