<template>
  <div class="home">
    <Inicio msg="Bienvenidos al taller de VueJS"/>
    <img alt="FS logo" src="../assets/logo_FS.png">
    <img alt="Vue logo" src="../assets/logo.png">
  </div>
</template>
<script>
// @ is an alias to /src
import Inicio from '@/components/Inicio.vue';
export default {
  name: 'home',
  components: {
    Inicio,
  },
};
</script>
<style>
.home{width: 80%;
    display: inline-block;
    float: center;
}
</style>