<template>
    <div style="margin-top:5%;">
        <h1>Tablas</h1>
        <b-form-checkbox class="claseCheck"  v-model="checkedTabla" name="check-button" switch>
            <label v-if="checkedTabla">Mostrar tabla con Estilos</label>
            <label v-if="!checkedTabla">Mostrar tabla sin Estilos</label>
        </b-form-checkbox>
        <button v-if="checkedTabla" class="boton" @click="aniadirTablaFea">Añadir fila</button>
        <b-button v-else variant="outline-primary" @click="aniadirTablaBonita">Añadir fila</b-button>
        <tabla v-if="checkedTabla" :datosParaTabla="datosTabla" @eliminarFilaTabla="eliminarFilaTabla">
        </tabla>
        <tablaBonita v-else :datosParaTablaB="datosTablaB" :spiner="spiner" @eliminarFilaBonita="eliminarFilaBonita">
        </tablaBonita>
    </div>
</template>
<script>

import { Z_DATA_ERROR } from 'zlib'
import tabla from '../components/Tabla.vue'
import tablaBonita from '../components/TablaBonita.vue'

export default {
    name: 'tablas',

    components: {
        tabla,
        tablaBonita,
    },

    data() {
        return {
            datosTabla: [
                { Edad: 40, Nombre: 'Agust', Apellidos: 'Hernandez' },
                { Edad: 21, Nombre: 'Alvaro', Apellidos: 'Mateos' },
                { Edad: 89, Nombre: 'Jorge', Apellidos: 'Wilson' },
                { Edad: 38, Nombre: 'Pedro', Apellidos: 'Carney' }
            ],
            datosTablaB: [
                { Edad: 40, Nombre: 'Agust', Apellidos: 'Hernandez' },
                { Edad: 21, Nombre: 'Alvaro', Apellidos: 'Mateos' },
                { Edad: 89, Nombre: 'Jorge', Apellidos: 'Wilson' },
                { Edad: 38, Nombre: 'Pedro', Apellidos: 'Carney' }
            ],
            spiner: false,
            checkedTabla: false,
        };
    },

    created() {
    },

    methods: {
        aniadirTablaFea() {
            this.datosTabla.push({ Edad: 22, Nombre: 'Prueba', Apellidos: 'Curch' });
        },
        aniadirTablaBonita() {
            this.datosTablaB.push({ Edad: 22, Nombre: 'Prueba', Apellidos: 'Curch' });
        },
        eliminarFilaBonita() {
            this.spiner = true;
            let self = this;
            this.$bvModal.msgBoxConfirm('Sure que desea eliminar el registro?')
            .then(value => {
                value ? this.confirmarEliminarFilaTablaBonita() : this.spiner = false;
            })
            .catch(err => {
                console.log(err);
            })
        },

        confirmarEliminarFilaTablaBonita(){
            this.spiner = false;
            this.datosTablaB.pop();
        },

        eliminarFilaTabla() {
            this.datosTabla.pop();
        },
    },
};
</script>

<style scoped>
.boton {
    margin: 10px;
    margin-top: 1rem;
}

.claseCheck {
    margin-bottom: 1rem;
}
</style>
