<template>
                        <!-- GOLORIOSO MENU AGUS -->
    <!------------------------------------------------------------------------------  -->
    <!-- <div id="menu" class="vertical-menu">
        <a href="" class="active">Home</a>
        <a href="/#/tablas">Tablas</a>
        <a href="/#/about">Formulario</a>
        <a href="/#/about">Link 3</a>
        <a href="/#/about">Link 4</a>
    </div> -->
    <div style="margin:10px;">
                            <!-- NAV BASICO -->
    <!------------------------------------------------------------------------------ -->
    <!-- <b-nav tabs>
    <b-nav-item href="">Active</b-nav-item>
    <b-nav-item href="/#/tablas">Tablas</b-nav-item>
    <b-nav-item href="/#/about">Formulario</b-nav-item>
    <b-nav-item href="/#/about">Link 3</b-nav-item>
    <b-nav-item href="/#/about">Link 4</b-nav-item>
    </b-nav> -->

                            <!-- NAV COMPLETO -->
    <!-------------------------------------------------------------------------------  -->
    <b-navbar toggleable="lg" type="dark" variant="primary">
    <b-navbar-brand href="/#">Home</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/#/tablas">Tablas</b-nav-item>
        <b-nav-item href="/#/form">Formulario</b-nav-item>
        <b-nav-item href="/#/charts">Charts</b-nav-item>
        <b-nav-item href="/#/about">Link 4</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>

        <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>User</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
    </div>
</template>

<style scoped>
    .vertical-menu {
    width: 20%; /* Set a width if you like */
    /*height:100vh !important;*/
    }
    .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    }
    .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
    }
    .vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
    }
</style>
