<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Inicio</router-link> |
      <router-link to="/about">Tablas</router-link> |
      <router-link to="/form">Formulario</router-link> |
      <router-link to="/about">Opción 3</router-link> |
      <router-link to="/about">Opción 4</router-link>
    </div> -->
    <Menu/>
    <router-view/>
  </div>
</template>
<script>
  import Menu from '@/components/Menu.vue';
  import Vue from 'vue';
  import BootstrapVue from 'bootstrap-vue';
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';

  Vue.use(BootstrapVue)
  export default {
    components: {
      Menu
    }
  }
</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 10px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
